@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('./preflight.css');

:root {
  /* breakpoint */
  --bp-sm: 576px;
  --bp-md: 768px;
  --bp-lg: 992px;
  --bp-xl: 1200px;

  /* color */
  --clr-black: 0 0% 0%;
  --clr-white: 0 0% 100%;
  --c-gray-100: 0 0% 93%;          /* #eeeeee */
  --c-gray-200: 0 0% 85%;          /* #dadada */
  --c-gray-300: 204 7% 42%;        /* #636c72 */
  --c-gray-400: 0 0% 37%;          /* #5e5e5e */
  --c-gray-500: 0 0% 13%;          /* #202020 */
  --c-gray-600: 0 0% 7%;           /* #111 */
  --c-green-1: 89 40% 45%;         /* #74a044 */
  --c-green-2: 89 30% 31%;         /* #516838 */

  /* font-family */      
  --ff-roboto: 'Roboto', sans-serif;

  /* font-size */
  --fs-100: 0.75rem;               /* 12px */
  --fs-200: 0.875rem;              /* 14px */
  --fs-300: 1rem;                  /* 16px */
  --fs-400: 1.125rem;              /* 18px */
  --fs-500: 1.25rem;               /* 20px */
  --fs-600: 1.375rem;              /* 22px */
  --fs-700: 1.5rem;                /* 24px */
  --fs-800: 1.75rem;               /* 28px */
  --fs-900: 2.5rem;                /* 40px */

  /* font-weight */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  
  /* line-height */
  --lh-sm: 1.25;
  --lh-md: 1.5;
  --lh-lg: 1.75;

  /* space */
  --spc-1: 0.25rem;                 /* 4px */
  --spc-1-5: 0.375rem;              /* 6px */
  --spc-2: 0.5rem;                  /* 8px */
  --spc-3: 0.75rem;                 /* 12px */
  --spc-3-5: 0.875rem;              /* 14px */
  --spc-4: 1rem;                    /* 16px */
  --spc-5: 1.25rem;                 /* 20px */
  --spc-5-5: 1.375rem;              /* 22px */
  --spc-6: 1.5rem;                  /* 24px */
  --spc-6-5: 1.625rem;              /* 26px */
  --spc-8: 2rem;                    /* 32px */
  --spc-10: 2.5rem;                 /* 40px */
  --spc-12: 3rem;                   /* 48px */
  --spc-16: 4rem;                   /* 64px */
}      

html {
  scroll-behavior: smooth;
}

.theme-light {
  --c-base-100: var(--clr-white);                     /* #FFF */
  --c-base-200: var(--c-gray-100);                    /* #eeeeee */
  --c-base-300: var(--c-gray-200);                    /* #dadada */
  --c-base-inverse-100: var(--clr-black);             /* #000 */
  --c-base-inverse-200: var(--c-gray-600);            /* #111 */
  --c-base-inverse-300: var(--c-gray-500);            /* #202020 */
  --c-base-inverse-400: var(--c-gray-400);            /* #5e5e5e */
  --c-border-100: var(--c-gray-200);                  /* #dadada */
  --c-primary: var(--c-green-1) ;                     /* #74a044 */
  --c-primary-focus: var(--c-green-2);                /* #516838 */
}

body {
  background-color: var(--c-base-100);
  color: hsl(var(--c-base-inverse-200));
  font-family: var(--ff-roboto);
  font-weight: var(--fw-regular);
  font-size: var(--fs-300);
  line-height: var(--lh-sm);
}